body{
    background-color: bisque;
}

.Encabezado{
    display: block;
    text-align: center;
}

.Cuadrado, .Triangulo, .Circulo{
    display: grid;
    text-align: center;
    margin: 10%;
}

.contenedorCuadrado, .contenedorCirculo{
    display: block;
    background-color: bisque;
    height: 65px;
    width: 100%;
    text-align: -webkit-center;
    margin-top: 14px;
}
.contenedorTriangulo {
    display: block;
    text-align: -webkit-center;
    margin: 14px;
}

.figuraCuadrado{
    display: inline-block;
    background-color: brown;
    width: 70px;
    height: 70px;
}

.figuraTriangulo{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
    border-left: 50px solid transparent;
}

.figuraCirculo{
    display: inline-block;
    background-color: rgb(231, 136, 12);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

input{
    width: 43px;
    text-align: center;
}

button{
    margin: 7px;
}